[user]
    email = git@mail.jerrington.me
    name = Jacob Errington
    signingkey = 80DEFC21AB8F2075E2DA992472972E4BCF267228
[push]
    default = simple
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore.global
    editor = emacsclient -c
[alias]
    shove = push -f
    co = checkout
    cob = checkout -b
    cop = checkout --patch
    stap = stash --patch
    resp = reset --patch
    ci = commit
    cia = commit --amend
    ciam = commit --amend -C HEAD
    s = status
    b = branch
    l = log --graph --oneline --decorate=short
    la = log --all --graph --oneline --decorate=short
    ls = log --all --graph --oneline --decorate=short --stat
    lss = log --all --graph --decorate=short --stat
    lsp = log --all --graph --decorate=short --stat -p
    psuh = push
    p = push
    rc = rebase --continue
    diff-stash = diff 'stash@{0}^..stash@{0}'
    diff-ci = diff 'HEAD^..HEAD'
    d = diff
    dc = diff --cached
    r = rebase
    ri = rebase -i
    reabse = rebase
[diff]
	algorithm = patience
