[user]
    email = git@mail.jerrington.me
    name = Jacob Errington
[push]
    default = simple
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
[alias]
    shove = push -f
    co = checkout
    cop = checkout --patch
    ci = commit
    s = status
    b = branch
    l = log --all --graph --oneline --decorate=short
    ls = log --all --graph --oneline --decorate=short --stat
    lss = log --all --graph --decorate=short --stat
    lsp = log --all --graph --decorate=short --stat -p
    psuh = push
    p = push
