[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/djeik/oh-my-zsh.git
[submodule "pathogen/.vim"]
	path = pathogen/.vim
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-json"]
    path = vim/.vim/bundle/vim-json
    url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/vim-less"]
    path = vim/.vim/bundle/vim-less
    url = https://github.com/groenewege/vim-less.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/djeik/vim-colors-solarized.git
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/.vim/bundle/neco-ghc"]
	path = vim/.vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim/.vim/bundle/ghcmod-vim"]
	path = vim/.vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/.vim/bundle/vimproc.vim"]
	path = vim/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/.vim/bundle/neomake"]
	path = vim/.vim/bundle/neomake
	url = https://github.com/benekastah/neomake.git
[submodule "vim/.vim/bundle/idris-vim"]
	path = vim/.vim/bundle/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule "vim/.vim/bundle/vimshell.vim"]
	path = vim/.vim/bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "other/mutt-colors-solarized"]
	path = other/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/.vim/bundle/tutch.vim"]
	path = vim/.vim/bundle/tutch.vim
	url = https://github.com/djeik/tutch.vim.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/.vim/bundle/neoman.vim"]
	path = vim/.vim/bundle/neoman.vim
	url = https://github.com/nhooyr/neoman.vim.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "irssi/.irssi/scripts/irssi-notifier"]
	path = irssi/.irssi/scripts/irssi-notifier
	url = https://github.com/paddykontschak/irssi-notifier.git
[submodule "apollo"]
	path = apollo
	url = https://github.com/tsani/apollo.git
[submodule "mutt/.mutt"]
	path = mutt/.mutt
	url = jerrington.me:mutt.git
[submodule "mbsync"]
	path = mbsync
	url = jerrington.me:mbsync.git
[submodule "other/mutt-ical"]
	path = other/mutt-ical
	url = https://github.com/tsani/mutt-ical
