[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim2hs"]
	path = vim/.vim/bundle/vim2hs
	url = git@github.com:dag/vim2hs.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
