
log.open_file = "rtorrent", ~/torrents/rtorrent.log
log.add_output = "debug", "rtorrent" 

session = ~/torrents/.session
directory = ~/torrents/incomplete

ratio.enable=
# upload 200% (3x)
ratio.min.set=300
# upload 2000% (20x)
ratio.max.set=2000
# 200M is the threshold between min and max. If I upload more than 200M, then min is used, else max is used
ratio.upload.set=200M

port_range = 60125-64125
port_random = yes
encryption = allow_incoming,try_outgoing,enable_retry

schedule = watch_directory_1,10,10,"load_start=~/torrents/.watch/*.torrent,d.set_custom1=~/torrents/complete"

system.method.set_key = event.download.finished,move_complete,"d.set_directory=$d.get_custom1= ;execute=mv,-u,$d.get_base_path=,$d.get_custom1="

dht_port = 63425
dht = auto
peer_exchange = yes
