[Unit]
Description=Mailbox synchronization service
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/home/tsani/bin/notify-mail.sh
StandardOutput=syslog
StandardError=syslog
