[Unit]
Description=Pushbullet notifications

[Service]
ExecStart=/home/tsani/.local/bin/pb-notify
EnvironmentFile=/home/tsani/.pb-notify-env

[Install]
WantedBy=multi-user.target
