URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/vimb
URxvt.matcher.button: 1
URxvt*depth: 32
URxvt*font: xft:Envy Code R:size=9,xft:Symbola:size=9
URxvt*boldFont: xft:Envy Code R:bold:size=9
URxvt*italicFont: xft:Envy Code R:italic:size=9
URxvt*boldItalicFont: xft:Envy Code R:bold:italic:size=9
URxvt*scrollBar: false

XTerm*background: black
XTerm*foreground: grey

dzen2.font: xft:DejaVu Sans Mono:size=8

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

URxvt.urgentOnBell:         true
URxvt.cursorColor:          #657b83
URxvt.intensityStyles: false

#define S_base03 #002b36
#define S_base02 #073642
#define S_base01 #586e75
#define S_base00 #657b83
#define S_base0 #839496
#define S_base1 #93a1a1
#define S_base2 #eee8d5
#define S_base3 #fdf6e3
URxvt*background: S_base3
URxvt*foreground: S_base00
URxvt*fadeColor: S_base3
URxvt*cursorColor: S_base01
URxvt*pointerColorBackground:S_base1
URxvt*pointerColorForeground:S_base01
#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900
!! black dark/light
URxvt*color0: S_base02
URxvt*color8: S_base03
!! red dark/light
URxvt*color1: S_red
URxvt*color9: S_orange
!! green dark/light
URxvt*color2: S_green
URxvt*color10: S_base01
!! yellow dark/light
URxvt*color3: S_yellow
URxvt*color11: S_base00
!! blue dark/light
URxvt*color4: S_blue
URxvt*color12: S_base0
!! magenta dark/light
URxvt*color5: S_magenta
URxvt*color13: S_violet
!! cyan dark/light
URxvt*color6: S_cyan
URxvt*color14: S_base1
!! white dark/light
URxvt*color7: S_base2
URxvt*color15: S_base3


Emacs*toolBar: 0
Emacs*menuBar: 0
Emacs*scrollBar: 0